<section class="ftco-section">
    <div class="container">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                    <p class="text-center"><a href="/cart/clear" class="btn btn-primary py-3 px-4" onclick="return confirm('Are you sure you want to clear cart?');">Remove all</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table">
                <table class="table">
                    <thead class="thead-primary">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>total</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody id="tableBody">
                    <%let total = 0;
                     if(typeof cart !== "undefined" ){
                     cart.forEach(product => {%>
                        <tr class="alert" role="alert" id="row<%= product.id %>">
                            <td>
                                <% if(product.image === null || product.image === undefined){%>
                                    <div class="img" style="background-image: url(/images/no-image.png);"></div>
                                <%} else{%>
                                    <div class="img" style="background-image: url(/images/drinks/<%= product.id %>_<%= product.image%>);"></div>
                                <%}%>
                            </td>
                            <td>
                                <div class="email">
                                    <span><%= product.name %></span>
                                    <span></span>
                                </div>
                            </td>
                            <td>
                                <span class="price"><%= parseFloat(product.price).toFixed(2) %> €</span>
                            </td>
                            <td>
                                <div class="justify-content-center">
                                    <a onclick="return doUpdate('<%= product.id %>', 'add');" type="button" class="close" style="float: none; padding: 4px;">
                                        <span aria-hidden="true"><i class="fa fa-plus"></i></span>
                                    </a>
                                    <span id="quantity<%= product.id %>" style="width: 40px; text-align: center;"><%= product.quantity %></span>
                                    <a onclick="return doUpdate('<%= product.id %>', 'remove');" type="button" class="close" style="float: none; padding: 4px;">
                                        <span aria-hidden="true"><i class="fa fa-minus"></i></span>
                                    </a>
                                </div>
                            </td>
                            <% total += product.price * product.quantity%>
                            <td id="total<%= product.id %>"><%= parseFloat(product.price * product.quantity).toFixed(2)%> €</td>
                            <td>
                                <a onclick="return doUpdate('<%= product.id %>', 'clear');" type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                </a>
                            </td>
                        </tr>
                    <%})} %>
                    </tbody>
                </table>
                <%if(typeof cart == "undefined"){ %>
                    <h3 class="text-center"> Your cart is empty </h3>
                <%}%>
                <div  id="noItems"></div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col col-lg-5 col-md-6 mt-5 cart-wrap">
                <div class="cart-total mb-3">
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span id="total"><%= parseFloat(total).toFixed(2) %>  €</span>
                    </p>
                </div>
                <p class="text-center"><a href="/order" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
            </div>
        </div>
    </div>
</section>

<script>
  function doUpdate(id, action){
    $.ajax({
      url:"/cart/update/" + id + "?action=" + action,
      method:"GET",
      data:{},
      success: function(cart){
        if(cart.length === 0){
          $('#total').fadeOut(100).fadeIn(1000).text(0.00 + " €");
          document.getElementById ('noItems').innerHTML = '<h3 class="text-center"> Your cart is empty </h3>';
          document.getElementById ('cartLength').innerHTML = '0';
          document.getElementById ('tableBody').remove();
          return;
        }

        let total = 0;
        let quantity = 0;
        let productTotal = 0;
        cart.forEach(product => {
          total += product.price * product.quantity;
          if(id === product.id){
            quantity = product.quantity;
            productTotal = product.price * quantity;
          }

        })
        $('#total').fadeOut(100).fadeIn(1000).text(parseFloat(total).toFixed(2) + "€");
        document.getElementById ('cartLength').innerHTML = cart.length;
        if(quantity === 0){
          $('#row' + id).remove();
          return;
        }
        if(action !== 'clear'){
          console.log("here")
          $('#total' + id).fadeOut(100).fadeIn(1000).text(parseFloat(productTotal).toFixed(2) + "€");
          $('#quantity' + id).fadeOut(100).fadeIn(1000).text(quantity);
        }
      }
    });
    return false;
  }
</script>

