<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <%if(typeof drinks !== "undefined" && drinks.length > 0){
                    drinks.forEach(drink => { %>
                        <div class="col-md-4 d-flex">
                            <div class="product ftco-animate">
                                <% if(drink.image === null || drink.image === undefined){%>
                                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/images/no-image.png);">
                                <%} else{ %>
                                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/images/drinks/<%= drink._id %>_<%= drink.image%>);">
                                <%}%>
                                    <div class="desc">
                                        <p class="meta-prod d-flex">
                                            <a onclick="return doAddToCart('cart/add/<%= drink._id %>');" class="d-flex align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a>
                                            <a href="drink/<%= drink._id %>" class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                        </p>
                                    </div>
                                </div>
                                <div class="text text-center">
                                    <% if(drink.categories.length > 0){ %>
                                        <span class="category"><%= drink.categories[0].name %></span>
                                    <%}%>
                                    <h2>
                                        <%= drink.name %>
                                        <%if(typeof drink.size !== "undefined"){%> <small><%= drink.size%>l</small>  <%}%>
                                    </h2>
                                    <p class="mb-0"><span class="price"><%= drink.price %> €</span></p>
                                </div>
                            </div>
                        </div>
                    <% })} else{ %>
                                <h3 class="text-center"> There are no products </h3>
                            <% } %>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Drink Types</h3>
                        <ul class="p-0">
                            <% categories.forEach( category => {%>
                                <li><a href="/filter/<%= category.name%>"><%= category.name%><span class="fa fa-chevron-right"></span></a></li>
                            <%})%>
                                <li><a href="/">All<span class="fa fa-chevron-right"></span></a></li>
                        </ul>
                    </div>
                    <div class="categories filter">
                        <form action="/filter?_method=POST" method="POST">
                            <% const max = 100;
                                const min = 0 %>
                            <div>
                                <h3>Price filter</h3>
                                <div class="price-input">
                                    <div class="field">
                                        <span>Min</span>
                                        <input type="number" name="min_price"  class="input-min" value="<%= filter.min %>">
                                    </div>
                                    <div class="separator">-</div>
                                    <div class="field">
                                        <span>Max</span>
                                        <input type="number" name="max_price" class="input-max" value="<%= filter.max %>">
                                    </div>
                                </div>
                                <div class="slider">
                                    <div class="progress" style="left: <%= filter.min / max * 100 %>%; right: <%= 100 - (filter.max / max * 100) %>%"></div>
                                </div>
                                <div class="range-input">
                                    <input type="range" class="range-min"
                                           min="<%= min %>" max="<%= max %>" value="<%= filter.min %>" step="1">
                                    <input type="range" class="range-max"
                                           min="<%= min %>" max="<%= max %>" value="<%= filter.max %>" step="1">
                                </div>
                            </div>
                            <div class="space">
                                <button type="submit" class="btn btn-info"> Apply </button>
                                <a href="/removeFilter" class="btn btn-info pull-right"> Remove </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<script>
  function doAddToCart(url){
    console.log("on add")
    $.ajax({
      url:url,
      method:"GET",
      data:{},
      success: function(cart){
        $('#cartLength').fadeOut(100).fadeIn(1000).text(cart.length);
        $('.flaticon-shopping-bag').fadeOut(100).fadeIn(1000);
      }
    });
    return false;
  }
</script>