<section class="ftco-section">

    <% if(typeof orders !== "undefined" && orders.length > 0 ){ %>
    <div class="container">
        <div class="row">
            <div class="table">
                <table class="table">
                    <thead class="thead-primary">
                    <tr>
                        <th>Customer</th>
                        <th>Order Id</th>
                        <th>Price</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%orders.forEach(order => { %>
                        <tr class="alert" role="alert" id="row<%= order._id %>">
                            <td>
                                <div class="email">
                                    <span><%= order.userid %></span>
                                </div>
                            </td>
                            <td>
                                <p><%= order._id %></p>
                            </td>
                            <td>
                                <span class="price"><%= parseFloat(order.price).toFixed(2) %> €</span>
                            </td>
                            <td class="quantity">
                                <p> <%= order.data.toLocaleString() %> </p>
                            </td>
                            <td class="quantity">
                                    <p> <%= stats[order.status] %> </p>
                            </td>
                            <td>
                                <a href="/admin/order/view/<%= order._id %>" class="btn btn-info">View details</a>
                            </td>
                            <% if( order.status === 2) { %>
                                <td>
                                    <a href="/admin/order/<%= order._id %>/status/confirm" class="btn btn-success" hidden >Confirm</a>
                                    <a href="/admin/order/<%= order._id %>/status/confirmDelivery" class="btn btn-success" >Confirm delivery</a>
                                </td>
                                <td>
                                    <a href="/admin/order/<%= order._id %>/status/reject" class="btn btn-danger" hidden>Reject</a>
                                </td>
                            <% } %>
                            <% if( order.status === 1) { %>
                            <td>
                                <a href="/admin/order/<%= order._id %>/status/confirm" class="btn btn-success" >Confirm</a>
                                <a href="/admin/order/<%= order._id %>/status/confirmDelivery" class="btn btn-success" hidden >Confirm delivery</a>
                            </td>
                            <td>
                                <a href="/admin/order/<%= order._id %>/status/reject" class="btn btn-danger" >Reject</a>
                            </td>
                            <% } %>
                            <% if( order.status === 0 || 3) { %>
                                <td>
                                    <a href="/admin/order/<%= order._id %>/status/confirm" class="btn btn-success" hidden >Confirm</a>
                                    <a href="/admin/order/<%= order._id %>/status/confirmDelivery" class="btn btn-success" hidden >Confirm delivery</a>
                                </td>
                                <td>
                                    <a href="/admin/order/<%= order._id %>/status/reject" class="btn btn-danger" hidden >Reject</a>
                                </td>
                            <% } %>

                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%} else{ %>
        <h3 class="text-center"> There are no orders </h3>
    <%}%>
</section>

<script>
 /* function doUpdate(id, object){
    if(confirm('Are you sure you want to delete this item?')){

      if(id.status === )

      console.log("id:"+id)
      $.ajax({
        url: "/admin/" + object+ "/" + id + "?_method=UPDATE",
        method:"UPDATE",
        data:{},
        success: function(){
          $("#row+id").update();
        }
      });
    }
    return false;
  }*/
</script>