<h3 class="mb-4 billing-heading">Drink Details</h3>
<div class="row align-items-end">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Name</label>
            <input required value="<%= drink.name %>" type="text" name="name" id="name" class="form-control" maxlength="100">
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="select-wrap">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <label for="category">Category</label>
                <select name="category" id="category" class="form-control">
                <%if(drink.category && drink.categories.length !== 0){%>

                            <option value="<%= drink.category %>"><%= drink.categories[0].name %></option>
                    <%}else{%>
                            <option value="" selected disabled hidden>--Select--</option>
                    <%}

                    categories.forEach(category => { %>
                                <option value="<%= category._id %>"><%= category.name %></option>
                        <% }) %>
                        </select>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="country">Country</label>
            <div class="select-wrap">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <select name="country" id="country" class="form-control">
                    <% if(countries.length !== 0){
                        if(drink.country != null){%>
                            <option value=<%= drink.country %>><%= drink.country %></option><%}
                        else{ %>
                            <option value="" selected disabled hidden>--Select--</option>
                        <%}
                        countries.forEach(country => {
                        %>
                            <option value=<%= country %>><%= country %></option>
                    <% }) } else{%>
                        <option value="">You don't have any categories yet. Add new category firs</option>
                    <%}%>
                </select>
            </div>
        </div>
    </div>

    <div class="w-100"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="price">Price €</label>
            <input required type="number" name="price" id="price" value="<%= drink.price %>" class="form-control" maxlength="6" max="2000">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="degree">Degree %</label>
            <input required type="number" name="degree" id="degree" value="<%= drink.degree %>" class="form-control" maxlength="5" max="100">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="degree">Size l</label>
            <input required  type="number" name="size" id="size" value="<%= drink.size %>" class="form-control" maxlength="5" max="50">
        </div>
    </div>

    <div class="w-100"></div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5" class="form-control" maxlength="10000"><%= drink.description %></textarea>
        </div>
    </div>
    <div class="w-100"></div>
    <% if (drink.image) { %>
        <div class="col-md-2">
            <img src="/images/drinks/<%= drink.id %>_<%= drink.image %>" id="imgPreview" class="img" alt="" height="100">
            <p> Current image</p>
        </div>
    <% }%>
    <div class="col-md-10">
        <div class="form-group">
            <label for="description">Image</label>
            <input type="file" name="image" id="image" class="form-control" alt="">
        </div>
    </div>

</div>
<div class="row mt-5 pt-3 d-flex">
    <div class="col-md-6">
        <a href="../" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>


