<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                <p class="text-center"><a href="/admin/drink/new/" class="btn btn-primary py-3 px-4">Add new drink</a></p>
            </div>
        </div>
    </div>
    <% if(drinks.length > 0 ){ %>
    <div class="container">
        <div class="row">
            <div class="table">
                <table class="table">
                    <thead class="thead-primary">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Drinks</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Degrees</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%drinks.forEach(drink => { %>
                        <tr class="alert" role="alert" id="row<%= drink._id %>">
                            <td>
                            <% if(drink.image === null || drink.image === undefined){%>
                                    <img class="img" src="/images/no-image.png" alt="">
                                <%} else{%>
                                    <img class="img" src="/images/drinks/<%= drink._id %>_<%= drink.image%>" alt="">
                                <%}%>
                            </td>
                            <td>
                                <div class="email">
                                    <span><%= drink.name %></span>
                                    <span>
                                        <% if(drink.categories.length > 0){%>
                                            <%= drink.categories[0].name %>
                                        <%}%>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <span class="price"><%= parseFloat(drink.price).toFixed(2) %> €</span>
                            </td>
                            <td class="quantity">
                                <p><%= drink.size %> l</p>
                            </td>
                            <td class="quantity">
                                <p><%= drink.degree %> %</p>
                            </td>
                            <td>
                                <a href="/admin/drink/<%= drink._id %>" class="btn btn-primary">View item</a>
                            </td>
                            <td>
                                <a href="/admin/drink/edit/<%= drink._id %>" class="btn btn-info">Edit</a>
                            </td>
                            <td>
                               <button onclick="return doDelete('<%= drink._id %>', 'drink');" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%} else{ %>
        <h3 class="text-center"> There are no drinks </h3>
    <%}%>
</section>

<script>
  function doDelete(id, object){
    $("#message").fadeOut(100);
    if(confirm('Are you sure you want to delete this item?')){
      console.log("id:" + id)
      $.ajax({
        url: "/admin/" + object + "/" + id,
        method:"DELETE",
        data:{},
        success: function(){
          $("#row" + id).remove();
        }
      });
    }
    return false;
  }
</script>