<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                <p class="text-center"><a href="./new/" class="btn btn-primary py-3 px-4">Add new drink</a></p>
            </div>
        </div>
    </div>
    <% if(products.length > 0 ){ %>
    <div class="container">
        <div class="row">
            <div class="table-wrap">
                <table class="table">
                    <thead class="thead-primary">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Degrees</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%products.forEach(product => { %>
                        <tr class="alert" role="alert">
                            <td>


                            <% if(product.image === null){%>
                                    <img class="img" src="/images/no-image.png" alt="">
                                <%} else{ %>
                                    <img class="img" src="/images/products/<%= product.id %>_<%= product.image%>" alt="">
                                <%}%>
                            </td>
                            <td>
                                <div class="email">
                                    <span><%= product.name %></span>
                                    <span><%= product.category %> </span>
                                </div>
                            </td>
                            <td>
                                <span class="price"><%= parseFloat(product.price).toFixed(2) %>€</span>
                            </td>
                            <td class="quantity">
                                <p><%= product.size %> l</p>
                            </td>
                            <td class="quantity">
                                <p><%= product.degree %> %</p>
                            </td>
                            <td>
                                <a href="/admin/product/<%= product.id %>" class="btn btn-primary">View item</a>
                            </td>
                            <td>
                                <a href="/admin/product/edit/<%= product.id %>" class="btn btn-info">Edit</a>
                            </td>
                            <td>
                                <form action="./<%= product.id %>?_method=DELETE" method="POST" class="d-flex align-items-center justify-content-center">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%} else{ %>
        <h3 class="text-center"> There are no products </h3>
    <%}%>
</section>
